n8n/workflow-anonymizer-pipeline.json
{
  "name": "LLM Anonymizer Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-anonymizer.web-ai-engine.svc:8080/anonymize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.body.text }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "anonymize",
      "name": "Anonymize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ai-guard.web-ai-engine.svc:8080/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'meta/llama-3.3-70b-instruct',\n  messages: [\n    { role: 'system', content: 'You are a helpful assistant. Answer concisely.' },\n    { role: 'user', content: $('Anonymize').item.json.anonymized }\n  ]\n}) }}",
        "options": { "timeout": 120000 }
      },
      "id": "nvidia-nim",
      "name": "NVIDIA NIM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-anonymizer.web-ai-engine.svc:8080/deanonymize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: $json.choices[0].message.content,\n  mapping: $('Anonymize').item.json.mapping\n}) }}",
        "options": {}
      },
      "id": "deanonymize",
      "name": "Deanonymize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ result: $json.text }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Anonymize", "type": "main", "index": 0 }]] },
    "Anonymize": { "main": [[{ "node": "NVIDIA NIM", "type": "main", "index": 0 }]] },
    "NVIDIA NIM": { "main": [[{ "node": "Deanonymize", "type": "main", "index": 0 }]] },
    "Deanonymize": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
